<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Coopers</title>

    <link rel="stylesheet" href=css/master.css>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <header id="main_header">
        <nav id="main_nav">
            <div class="left">
                <img class="nav_logo" alt="Mini Cooper Official Logo" src="images/logo.jpg">
                <span><a href="#" class="nav_link">MODELS</a></span>
                <span><a href="#" class="nav_link">TOOLS</a></span>
                <span><a href="#" class="nav_link">DISCOVER</a></span>
                <span> <a href="#" class="nav_link">OWNERS</a></span>
            </div>
            <div class="right">
                <span><a href="#" class="nav_link">BUILD & PRICE</a></span>
                <span><a href="#" class="nav_link">FIND A RETAILER</a></span>
                <span><a href="#" class="nav_link">SHOP NOW</a></span>
            </div>

        </nav>
    </header>
    <main id="app">

        <!-- LANDING PAGE STUFF IN BASIC HTML
        <div class="container">
            <h1 class="landing_title">MEET THE FAMILY.</h1>
            <h3 class="landing_subtitle">Click a Mini to learn more about it.</h3> 
            
            <div class="mini_info">
                <img class="mini_img">
                <h4 class="mini_name">Mini Name</h4>
                <p class="mini_description">Mini Description</p>
                <p class="mini_price">Mini Price</p>
            </div>
        -->

        <!-- MINI DATA DISPLAYED HERE -->
        <ul>
            <!-- this is a custom Vue component defined in main.js -->
            

    
            <car-info v-for="car in cars" :car="car" :key="car.id"></car-info>
           <!-- <h5 @click="clickHeader">{{ message }}</h1>
                <p>{{anotherMessage}}</p>-->
            <!-- <li v-for="car, index in cars">
                <p>Car Name: {{ car.name }}</p>

                <a href="" class="remove-car" @click.prevent="showCarData(car)" :class="{'car-button-modifier' : removeAformat}">Show {{ car.name}}'s info</a> 
                
                <a href="" class="remove-car" @click.prevent="removeCar(index)" :class="{'car-button-modifier' : removeAformat}">Remove {{ car.name}}</a>
            </li> -->
        </ul>
        <!--
        <section class="car-data" :class="{'show-car' : showCarData}">
            <h1>{{ currentCarData.name }}</h1>
        </section>-->

    </main>
    <footer id="main_footer">
        <div class="socials">
            <!--add social media icons here-->
            <h3 class="socials_title">FOLLOW US!</h3>
        </div>
        <div id="footer_nav">

            <div class="f_links">
                <a href="#">CONTACT US</a>
                <a href="#">COOKIES & ADS</a>
                <a href="#">PRIVACY POLICY</a>
                <a href="#">TERMS & CONDITIONS</a>
            </div>
            <div class="f_links">
                <a href="#">UNSUBSCRIBE</a>
                <a href="#">BMW GROUP</a>
                <a href="#">CHANGE PROVINCE (ON)</a>
                <a href="#">FRENCH</a>
            </div>
        </div>
    </footer>
</body>

<script src="js/main.js" type="module"></script>
</html>