.hiding {
    display: none !important;
}

.showing {
    display: none !important;
}

#container {
    width:100vw;
    left:0;
    margin:0;
    margin-top:0;
}

ul {
    margin:0;
    padding:0;
}
.mini { 
    margin:auto;    
    text-align:center;
    margin-bottom:10vh;
    video {
        position:relative;
        left:0;
        width:100vw;
        margin:0;
        min-width:100vw;
        min-height:100vh;
    }

    h3 {
        width:60%;
        margin:auto;
        margin-top:4vh;
        margin-bottom:3vh;
        font-size:1.4vw;
    }
    p {
        width:50%;
        margin: auto;
        line-height:4vh;
        margin-top:3vh;
        margin-bottom:3vh;
        font-size:1.1vw;
    }

    img {
        margin:4vh;
    }
}