.hiding {
    display: none !important;
}

.showing {
    display: none !important;
}

#container {
    width:100vw;
    left:0;
    margin:0;
    margin-top:0;
}

ul {
    margin:0;
    padding:0;
}
.mini { 
    left:0;
    width:100%;

    video {
        margin:0;
    }
}