#main_footer {
    background-color:rgb(80, 79, 79);
    height:30vh;
    width:100%;
    position:absolute;
    bottom:0;

    
    .socials {
        float:left;
        height:70%;
        width:30%;
        margin-left:10%;
        margin-top:1%;

        h3 {
            text-align:center;
            color:#f5f5f5;
            font-weight:500;
            font-style:italic;
        }
    }

    #footer_nav {
        height:100%;
        width:60%;
        float:right;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-items:center;
        justify-content:center;
        align-content:center;

        .f_links {
            width:30%;
            height:70%;
            display:inline-flex;
            flex-direction:column;
            justify-content:space-around;

            a {
                text-decoration:none;
                color:#a3a0a0;
                font-weight:500;
                font-size:1.1vw;
                text-align:left;
                transition: .3s ease-in-out;

            }

            a:hover {
                color:#f5f5f5;
                transition: .3s ease-in-out;

            }
        }
    }
}